{% extends "base.html" %}

{% block title %}
	Contact Us
{% endblock title %}

{% block content %}
<body class="is-preload">
<div id="page-wrapper">
	{% include 'header.html' %}
	<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Contact Us</h2>
				</header>

				<!-- Content -->
					<section id="content">
						<div class="row">
							<div class="col-4 col-6-medium col-12-xsmall">
							    <address>
							      <strong>Stein-O'Brien Lab</strong><br>
							      Brain Science Institute<br>
							      Rangos Life Sciences Building, Room 295<br>
							      855 N. Wolfe St.<br>
							      Baltimore, MD 21205<br>
							      <abbr title="Phone">P:</abbr> (410) 955-8466<br>
							      <!--<abbr title="Email">E:</abbr><a href="#">loyalgoff[at]jhmi[dot]edu</a><br>-->
							    </address>
							</div>
							<div class="col-4 col-6-medium col-12-xsmall">
							<img src="images/Rangos.jpg" class="image pull-left" alt="Rangos Life Sciences Building">
							</div>
							<div class="col-4 col-6-medium col-12-xsmall">
							    <address>
							      <strong>PI: Genevieve Stein-O'Brien</strong><br>
							      Brain Science Institute<br>
							      Rangos Life Sciences Building, Room 293<br>
							      855 N. Wolfe St.<br>
							      Baltimore, MD 21205<br>
							      <abbr title="Phone">P:</abbr> (410) 955-8466<br>
							      <abbr title="Email">E:</abbr><a href="mailto:gsteinobrien@jhmi.edu"> gsteinobrien@jhmi.edu</a>
							    </address>
							</div>
						</div>
					</section>
			</div>
		</div>
</div>
{% endblock content %}
