{% extends "base.html" %}

{% block title %}
Lab Members
{% endblock title %}

{% block content %}
		<div id="page-wrapper">
	{% include 'header.html' %}

				<!-- Main -->
					<div id="main" class="wrapper style1">
						<div class="container">
							<header class="major">
								<h2>Lab Members</h2>
							</header>

							<!-- Content -->
								<section id="content">

									<!-- Genevieve -->
									<div class="box alt">
										<span class="image right">
									    <img class="portrait" src="images/Genevieve.jpg" alt="Genevieve Stein-O'Brien">
									  </span>

										<h4><a href="mailto:gsteinobrien@gmail.com" target="_top">Genevieve Stein-O'Brien, PhD, MHS</a> -- <a href="https://kavlijhu.org/" target="_blank"> </a> PI </h4>
										 <p>Dr. Stein-O'Brien is an Assistant Professor in <a href="https://neuroscience.jhu.edu/">the Neuroscience Department</a> at Johns Hopkins University with affiliations in the Brain Science Institute, the Division of Quantitative Sciences in the Department of Oncology, <a href="https://igm.jhmi.edu/">the McKusick-Nathans Department of Genomics Medicine </a>, the Institute for Data Intensive Engineering and Science and <a href="https://kavlijhu.org/">the Kavli Neuroscience Discovery Institute </a>. Dr. Stein-O'Brien's research is focused on the stochastic processes underlying gene regulation in dynamic biological systems. Specifically, she develops computational and statistical methods for pattern recognition, latent space detection, and data integration in high-throughput omics.</p>
									</div>


									<!-- Jeanette -->
									<div class="box alt">
										<span class="image left">
											<img class="portrait" src="images/hippocampus.gif" alt="Jeanette Johnson">
										</span>
											<h4><a href="#" target="_top">Jeanette Johnson</a> -- PhD Candidate, Immunology</h4>
											 <p>Jeanette developed <a href="https://github.com/FertigLab/pycogaps" target="_blank">pyCoGAPS</a>, a Bayesian nonnegative matrix factorization implemented via Markov Chain Monte Carlo.</p>
									</div>


									<!-- Ashley -->
									<div class="box alt">
										<span class="image right">
											<img class="portrait" src="images/hippocampus.gif" alt="Ashley Tsang">
										</span>
											<h4><a href="#" target="_top">Ashley Tsang</a> -- Undergraduate </h4>
											 <p>Ashley developed the CellXGene inferface for <a href="https://github.com/FertigLab/pycogaps" target="_blank">CoGAPS</a>, a Bayesian nonnegative matrix factorization implemented via Markov Chain Monte Carlo.</p>
									</div>


									<!-- Asher -->
									<div class="box alt">
										<span class="image left">
											<img class="portrait" src="images/asher_baraban.jpg" alt="Asher Baraban">
										</span>
											<h4><a href="#" target="_top">Asher Baraban</a> -- Intern, Software Development</h4>
											 <p>Asher is currently an undergraduate student at WashU in St. Louis, MO. He has been developing <a href="https://scproject.readthedocs.io/en/master/#overview" target="_blank">scProject</a>, a single cell transfer learning tool for visualization and exploration of latent space utilization.</p>
									</div>

								<!-- 			-->
								<!--Alumni-->
								<!-- 			-->

								<header class="minor">
									<h2>Alumni</h2>
								</header>

								<!-- Ale -->
								<div class="box alt">
									<span class="image left">
										<img class="portrait" src="images/alejandra_patino.png" alt="Alejandra Patino">
									</span>
										<h4><a href="#" target="_top">Alejandra Patino</a> -- Predoctoral Fellow, JHU PREP Program, Current: Duke MD/PhD Program</h4>
										 <p></p>
								</div>


								<header class="minor">
									<h2>Rotation Students</h2>
								</header>

								<h4>2022</h4>
								<ul>
									<li>Chaichontat (Richard) Sriworarat (Neuroscience)</li>
									<li>Kyla Woyshner (HG)</li>
								</ul>
								</section>

						</div>
					</div>
{% endblock content %}
